body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    box-shadow: 0 2px 4px rgba(34, 3, 23, 0.1);
    color:rgba(38, 38, 207, 0.644)
}

.container h1 {
    text-align: center;
    margin-top: 20px;
    color: #3639e7;
}

.container p {
    text-align: center;
    font-size: 18px;
    color: #ce0e0e;
}